.banner {
    height: 50vh;
    width: 100vw;
    margin: 0 auto;
    background-image: url('../assets/home-banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    
    /* set position to relative */
}

.banner h1 {
    position: absolute;
    top: 30%;
    /* adjust top position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
}

.banner p {
    position: absolute;
    top: 50%;
    /* adjust top position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
}